/* 
.pokemon {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #46D1B1;
    color: #fff;

} */

#returnButton {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 1rem;
    border-style: none;
    color: #fff;
    background-color: black;
    opacity: 0.3;
}

.pokemonContent {
    display: flex;
    flex-direction: row;
}

.pokemonHeader {
    padding: 1rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .pokemonHeaderName {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

#pokemonHeaderName {
    margin: 0 .25rem 0 .25rem;
    text-transform: capitalize;
    color: #fff
}

.pokemonHeaderTypes {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    flex-basis: auto;

}

.pokemonHeaderTypes li {
    color: #fff;
    /* width: 75px; */
    padding: 0.35rem 1.5rem .35rem 1.5rem;
    margin: 0 0 0 0.25rem;
    font-size: .8rem;

    border-radius: 1rem;
    border: #31303023 solid 0.025rem;
    text-align: center;
}



.pokemonHeaderNumber {
    display: grid;
    justify-items: right;
    align-items: center;

    text-align: right;
    vertical-align: center;
    color: black;
    opacity: 0.7;

    font-size: 1rem;
    font-weight: bolder;

}

.pokemonHeaderNumber .index {
    text-align: right;
    vertical-align: center;
    color: black;
    opacity: 0.3;

    font-size: 1rem;
    font-weight: bolder;
}

.pokemonPhotoBox {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 160px;
}

.pokemonPhoto {
    margin: 0;
    padding: 0;
    height: 200px;
    max-width: fit-content;
}

.detailsBox {
    background-color: #fff;
    border-radius: 1.5rem 1.5rem 0 0;
    min-height: 500px;
}

.detailTabs {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 4rem 1.5rem 0 1.5rem;
    color: #a8a9aa;
    align-content: space-evenly;
    flex-basis: auto;


}

.detailTabs li {
    flex-grow: 1;
    padding: 0 0.25rem 0.5rem 0.25rem;
    padding-bottom: 1.5rem;
    border-bottom: solid .15rem #c8c8c9;
    font-size: 0.75rem;
    font-weight: bold;
}

.aboutPokemon {

    padding: 0;
}

.aboutPokemon ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    font-size: .8rem;
}

.aboutPokemon ol li {
    padding: 0 0 0.75rem 0;
}

.subTitleAbout {
    padding-left: 1.5rem;
    margin-top: 2.5rem;
    font-size: 1rem;
    color: #000000;
}

.aboutTitle {
    font-weight: bold;
    color: #72706f;
}

.aboutLabel {

    color: #000000;
}


.normal {
    background-color: #969777;
}

.grass {
    background-color: #46D1B1;
}

.fire {
    background-color: #FB6C6C;
}

.water {
    background-color: #77BEFE;
}

.electric {
    background-color: rgb(255, 252, 70);
    /* kksdgsahdjs */
}

.ice {
    background-color: #90e6e9;
}

.ground {
    background-color: #e77b3c;
}

.flying {
    background-color: #7e96da;
}

.poison {
    background-color: #c256c2;
}

.fighting {
    background-color: #ebc417f3;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #494746;
}

.rock {
    background-color: #a3a3a2;
}

.bug {
    background-color: #87d42e;
}

.ghost {
    background-color: #9371d1;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #e78161;
}

.fairy {
    background-color: #f9aec7;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}